{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

    {% if article is not defined %}
        <h1 class="text-center my-4">Ajouter un article</h1>
    {% else %}
        <h1 class="text-center my-4">Modifier un article</h1>
    {% endif %}

    <div class="row">
        <div class="col-8 mx-auto">

            {{ form_start(form) }}

                <div class="row">
                    <div class="col-6">{{ form_row(form.title) }}</div>
                    <div class="col-6">{{ form_row(form.subtitle) }}</div>
                </div>

                {{ form_row(form.content) }}

                {{ form_row(form.category) }}

                {{ form_row(form.photo) }}

            {{ form_end(form) }}

        </div>
    </div>




{% endblock %}